* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f4f4f9;
}

main {
  height: 100vh;
  position: relative;
}

/* TELAS */
.tela {
  display: none;
  height: 100vh;
  padding: 2rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  position: relative;
  z-index: 2;
}

.tela.ativa {
  display: flex;
}


h1 {
  font-weight: 600;
}

p {
  max-width: 500px;
  font-size: 1.1rem;
}

/* BOTÕES */
button {
  margin-top: 1.5rem;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 25px;
  background: #ff4d6d;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

button.nao {
  background: #777;
}

/* POLAROIDS */
.polaroid {
  position: fixed;
  background: white;
  padding: 10px 10px 25px 10px;
  width: clamp(90px, 30vw, 160px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  z-index: 1;

  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.polaroid img {
  width: 100%;
  display: block;
}

.polaroid.visivel {
  opacity: 1;
  transform: scale(1);
}

/* POSIÇÕES */
.p1 {
  top: clamp(10px, 4vw, 24px);
  left: clamp(10px, 4vw, 24px);
  transform: rotate(-8deg);
}

.p2 {
  top: clamp(10px, 4vw, 24px);
  right: clamp(10px, 4vw, 24px);
  transform: rotate(6deg);
}

.p3 {
  bottom: clamp(10px, 4vw, 24px);
  left: clamp(10px, 4vw, 24px);
  transform: rotate(9deg);
}

.p4 {
  bottom: clamp(10px, 4vw, 24px);
  right: clamp(10px, 4vw, 24px);
  transform: rotate(-6deg);
}
